.p-password .p-password-input {
  width: 100% !important;
}

.p-icon-field-right > .p-inputtext {
  padding-right: 6.5rem !important;
}

.password-icon-wrapper {
  position: relative;
  width: auto;
}

.password-input-icon {
  font-size: 1rem;
  color: var(--primary-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.password-icon-left {
  left: 1rem;
}

.password-icon-right {
  right: 0rem;
}
